
<%- layout('/layouts/boilerplate.ejs') %>

<%- include("../includes/movable.ejs") %>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 justify-content-center">
        <% for( let listing of allListings ) { %>
            <a class="spot reveal" href="/listings/<%= listing._id %>">
                <div class="cards">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing Image" style="height: 20rem;">
                    <div class="card-body">
                        <b>
                            <%= listing.title %>
                        </b>
                        <p>&#8377; <%= listing.price.toLocaleString("en-IN") %>
                                <i class="tax">&nbsp;&nbsp;+18% GST </i>
                        </p><br>
                    </div>
                </div>
            </a>
            <% } %>
    </div><br>


    <!-- the anchor tags href /listings/:id route will open the specific listing and show its detailed description (It will send request to show route)-->









    <!-- <div class="col-12 justify-content-center">
        <div class="top-card">
            <div class="card-image">
                <img src="https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                alt="Card Image 1" style="width : 20rem; height: 20rem;">
            </div>
            <div class="card-info">
                <h2>"Oasis of Tranquility"</h2>
                <p> Nestled among lush greenery, the hotel overlooks serene ponds that reflect the surrounding paradise. A peaceful escape where luxury meets nature’s calm, Indonesia</p>
            </div>
        </div>
    </div> -->